@font-face{
    font-family: 'MuseoSans900';
    src: url('assets/fonts/MuseoSans-900.otf') format('otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'MuseoSans900', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
