.ant-card-head {
    font-weight: bold;
    color: #54b7b4;
}

.ant-card-body {
    color: #78777c;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    background-color: #54b7b4;
    font-weight: bold;
    color: #fff
}

#feedback {
    float: right;
    font-size: 25px;
}

#feedback a {
    padding-left: 20px;
}
