.ant-card-head {
    font-weight: bold;
    font-size: calc(10px + 1vw);
    color: #54b7b4;
}

.ant-card-body {
    color: #78777c;
}

.ant-card-body > p {
    font-size: calc(8px + 0.7vw);
    color: #78777c;
}

.ant-card-body > p > a {
    font-size: calc(9px + 0.8vw);
    color: #54b7b4;
}

.ant-card-body > p > .ant-btn {
    float: left;
    font-size: calc(9px + 0.8vw);
    line-height: calc(9px + 0.8vw);
    height: calc(20px + 1vw);
    padding: 3px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-size: calc(9px + 0.8vw);
    background-color: #54b7b4;
    font-weight: bold;
    color: #fff
}

.ant-collapse-content-box > p {
    font-size: calc(7px + 0.6vw);
    text-align: center;
}

#score {
    display: inline-block;
    font-size: calc(9px + 0.8vw);
    font-weight: bold;
    color: #54b7b4;
}

#score > span[difficulty="easy"]{
    color:green;
}

#score > span[difficulty="medium"]{
    color:goldenrod;
}

#score > span[difficulty="hard"]{
    color:red;
}

#feedback {
    float: right;
}

#feedback > button {
    font-size: calc(9px + 0.8vw);
    color: #54b7b4;
    padding-left: 5px;
}


