.App {
    text-align: center;
}

.ant-layout-header {
    background-color: #021e22;
}

h1 {
    color: #54b7b4;
    font-size: calc(1.3px + 2vw);
}

h1 b {
    color: #ffff;
}

.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 840px;
}

.logo {
    width: 8vw;
    min-width: 80px;
    height: 63.5px;
    float: left;
    background-image: url('../../assets/imgs/logo.png');
    background-size: cover;
}

